streamlit==1.36.0
pdfminer.six==20221105
langchain
langchain-community
faiss-cpu==1.7.3
langchain-groq
python-dotenv==1.0.0
langchain-huggingface
wikipedia
replicate
numexpr
google-api-python-client>=2.100.0
